.noCarsText{
    text-align: center;
        color: #6C717B;
        padding: 20px;
}

.carCard{
        width: 156px;
        height: auto;
        position: relative;
            display: flex;
                flex-direction: column;
}

.carCard img {
    border-radius: 14px;
    overflow: hidden;
    width: 100%;
    height: auto;
    text-align: left;
    object-fit: cover;
}

.carList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin-top: 46px;
    padding-left: 60px;
    padding-right: 60px;
}

.textForCar{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
}

.textForCarPrice{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        color: #6C717B;
}

.icon {
    width: 16px;
    height: 15px;
    cursor: pointer;
    fill: #F2F4F7;
}

.iconBtn{
    background-color: transparent;
}

.favoriteIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 1;
}

.readMoreBtn {
    display: block;
    width: 156px;
    height: 34px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
        font-size: 12px;
        line-height: 105%;
}

.readMoreBtn:hover {
    background-color: #0b44cd;
}

.brand {
    color: #101828;
}

.model {
    color: #3470ff;
}

.year {
    color: #101828;
}

.price {
    /* font-weight: bold; */
    color: #101828;
    text-align: right;
    font-weight: 500;
        font-size: 16px;
        line-height: 125%;
}

.carInfo{
    display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8px;
        margin-top: 10px;
}


.carInfoTitle {
 font-family: 'Manrope',
 sans-serif;
 font-size: 12px;
 font-weight: 500;
 line-height: 125%;
 text-align: left;
 margin: 0;
}

.mileage{
        color: #8d929a;
        font-weight: 400;
            font-size: 10px;
            line-height: 133%;
            margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
.noCarsText {
        text-align: center;
        color: #6C717B;
        padding: 20px;
    }

    .carCard {
        width: 276px;
        height: 424px;
        position: relative;
    }

    .carCard img {
        overflow: hidden;
        height: 268px;
    }

    .carList {
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        margin-top: 56px;
        padding-left: 120px;
        padding-right: 120px;
    }


    .favoriteIcon {
        top: 10px;
        right: 10px;

    }

    .readMoreBtn {
        width: 276px;
        height: 44px;
        padding-top: 12px;
        cursor: pointer;
        font-weight: 600;
            font-size: 16px;
            line-height: 125%;
    }


    .carInfoTitle {
        font-size: 16px;
        font-weight: 500;
        line-height: 125%;
    }

    .mileage {
        margin-bottom: 28px;
        color: #8d929a;
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
    }
}