.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: #3470FF !important;
    color: #fff !important;
    border-radius: 32px !important;
    width: 36px;
    height: 32px;
    line-height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.react-datepicker__day:hover,
.react-datepicker__day:focus{
    background-color: #3470FF !important;
    color: #fff !important;
    border-radius: 32px !important;
}

.react-datepicker__day{
    border-radius: 32px;
    width: 36px;
    height: 32px;
    line-height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

._datePickerDayToday{
        background-color:#3470FF;
        border-radius: 32px;
}

.react-datepicker__header{
    background-color: #fff;
    border-bottom: 1px solid #3470FF;
    border-radius: 12px 12px 0 0;
        height: 74px;
}

.react-datepicker__month-container{
    border-radius: 12px;
}

.react-datepicker{
    border: 1px solid #3470FF;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle{
    fill: none;
    color:#3470FF ;
    }

.react-datepicker__current-month{
font-family: var(--second-font);
font-weight: 600;
font-size: 16px;
line-height: 120%;
text-align: center;
color: var(--accent-text);
}

.react-datepicker__day-name{
font-family: var(--second-font);
font-weight: 600;
font-size: 12px;
line-height: 120%;
text-align: center;
color: #8D929A;
text-transform: uppercase;
width: 36px;
height: 14px;
}

.react-datepicker__day-names {
    margin-top: 12px;
}

.react-datepicker__triangle path {
    stroke-width: 1px;
    stroke: #3470FF;
}