.imgContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}

.containerDetail{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
}

.imgDetail{
    border-radius: 19px;
        width: 100%;
        height: 212px;
}


.titleInfo{
font-family: var(--main-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 103%;
    text-align: center;
    color: #101828;
    text-align: left;
    margin-bottom: 8px;
}

.carId{
    margin-left: 16px;
    font-family: var(--main-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #8D929A;
}

.location{
    font-family: var(--main-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #101828;
}

.icon {
    margin-right: 8px;
    fill: #101828;
    width: 16px;
    height: 16px;
}

.price{
    font-family: var(--main-font);
        font-weight: 600;
        font-size: 24px;
        line-height: 133%;
        color: #3470FF;
        margin-bottom: 32px;
        margin-top: 16px;
}

.infoDetail{
    font-family: var(--main-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
}


.conditions{
    margin-top: 20px;
}

.accessories{
margin-top: 20px;
}

.specif{
margin-top: 20px;
}

.rentCondTitle{
    font-family: var(--main-font);
    margin-top: 28px;
    font-weight: 600;
        font-size: 20px;
        line-height: 120%;
}

.rentSpecif{
    font-family: var(--main-font);
        margin-top: 50px;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
}

.rentAcces{
        font-family: var(--main-font);
            margin-top: 50px;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
}

.list{
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .imgContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }

        .rentCondTitle{
            margin-top: 68px;
        }
    
        .containerDetail {
            display: flex;
            flex-direction: row;
            gap: 72px;
            margin: 84px 120px;
        }
    
        .imgDetail {
            border-radius: 19px;
            width: 640px;
            height: 512px;
        }
    
        .rentAcces{
            margin-top: 110px;
        }

                .rentSpecif {
                    margin-top: 110px;
                }
    
        .titleInfo {
            font-size: 24px;
            line-height: 133%;
        }
    
            .list:last-child {
               margin-bottom: 0;
        }
}