.formCar{
align-items: center;
margin-top: 44px;
justify-content: center;
gap: 8px;
width: 100%;
height: auto;
}

.label{
    font-family: var(--main-font);
        font-weight: 400;
        font-size: 8px;
        line-height: 103%;
        color: #8D929A;
            margin-bottom: 6px;
}

.labelWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.field{
    border: none;
    border-radius: 12px;
        /* padding: 12px 16px; */
        width: 64px;
        height: 32px;
        background-color: #F7F7F7;
        font-weight: 500;
            font-size: 10px;
            line-height: 105%;
            cursor: pointer;
}

.field::placeholder {
    color: black;
}

.field.selected {
    color: black;
}

.labelWrapper1{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inputNb{
    position: relative;
    display: flex;
    flex-direction: row;
}

.leftInput {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: 1px solid #DADDE1;
    border-top: none;
    border-bottom: none;
    border-left:none;
    padding-left: 32px;
    width: 60px;
    height: 32px;
    background-color: #F7F7F7;
    font-weight: 500;
        font-size: 10px;
        line-height: 105%;
}

.rightInput {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: none;
    border: none;
    padding-left: 20px;
    width: 60px;
    height: 32px;
    background-color: #F7F7F7;
    font-weight: 500;
        font-size: 10px;
        line-height: 105%;
}

.btnForm{
    font-family: var(--main-font);
    background-color: #3470FF;
    border-radius: 12px;
        width: 104px;
        height: 32px;
        font-weight: 600;
            font-size: 12px;
            line-height: 105%;
            color: var(--main-text);
            margin-top: 12px;
            padding: 10px;
}

.btnForm:hover,
.btnForm:focus{
    background-color: #0B44CD;
}

.textFrom {
    position: absolute;
    top: 8px;
    left: 2px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
}


.textTo {
    position: absolute;
        top: 8px;
        left: 62px;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 12px;
        line-height: 1.25;
}

@media only screen and (min-width: 768px) {
.formCar {
        margin-top: 84px;
        gap: 16px;
            width: 924px;
            height: 68px;
    }

    .label {
        font-size: 12px;
        line-height: 133%;
        margin-bottom: 8px;
    }
.textFrom {
    position: absolute;
    top: 12px;
    left: 24px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
}


.textTo {
    position: absolute;
    top: 12px;
    left: 220px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
}

    .labelWrapper {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .error {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }

    .field {
        border: none;
        border-radius: 12px;
        padding: 12px 16px;
        width: 204px;
        height: 44px;
        background-color: #F7F7F7;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        cursor: pointer;
    }

    .leftInput {
        padding-left: 65px;
        width: 204px;
        height: 44px;
        font-weight: 500;
            font-size: 16px;
            line-height: 125%;
    }

    .rightInput {
        padding-left: 40px;
        width: 204px;
        height: 44px;
        font-weight: 500;
            font-size: 16px;
            line-height: 125%;
    }

    .btnForm {
        width: 156px;
        height: 44px;
        padding: 12px 51px;
        width: 156px;
        font-size: 16px;
        line-height: 125%;
        margin-top: 22px;
    }

}

@media only screen and (min-width: 768px) {

}